@import url("./__button/element__button.css");
@import url("./__image/element__image.css");
@import url("./__title/element__title.css");
.element {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 282px;
  min-height: 361px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 4%;
  flex-wrap: wrap;
  overflow: hidden;
}
