.popup__toggle {
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
  }
  .popup__toggle:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
      .popup__toggle {
          width: 30px;
          top: -22px;
          right: -22px;
      }